*{
    margin: 0;
    padding: 0;
  }
  body {
      background: #E1E1E1;
      display: flex;
      font-family: sans-serif;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 10px;
      min-height: 100vh;
  }
  .from{
    background: white;
    box-shadow: 0px 0px 10px gray;
    padding: 20px;
    width: 315px;
    border-radius: 10px;
  }
  h1{
    text-align: center;
    font-size: 18px;
    color: #000000;
  }
  .link{
      width: 300px;
      height: 30px;
      margin-top: 15px;
      text-align: center;
      border: 2px solid #000000;
      border-radius: 5px;
      padding: 5px;
      color: #000000;
  }
  .link::placeholder{
    color: #000000;
  }
  .Get{
      width: 314px;
      display: block;
      background-color: #1B1B1B;
      border: none;
      padding: 5px;
      font-size: 18px;
      color: #fff;
      font-weight: 600;
      padding: 12px 25px;
      margin-top: 10px;
      border-radius: 5px;
      cursor: pointer;
      outline: none;
  }
  .hidden{
    display: none;
  }
  .hidden.active{
    display: block;
  }