*{
    margin: 0;
    padding: 0;
  }
  body {
      background: #E1E1E1;
      display: flex;
      font-family: sans-serif;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 10px;
      min-height: 100vh;
      
  }
  p{
    padding: 10 0 0 0;
  }
  form{
    display: grid;
  }
  .form{
    background: rgb(255, 255, 255);
    box-shadow: 0px 0px 10px gray;
    padding: 20px;
    width: 315px;
    border-radius: 10px;
    
    
  }
  h6{text-align: center;
    text-align: center;
    padding: 0;
  }
  h1{
    text-align: center;
    font-size: 18px;
    text-align: center;
  }
  .link{
      width: 314px;
      height: 45px;
      margin-top: 10px;
      text-align: center;
      border: 2px solid #000000;
      border-radius: 5px;
      padding: 5px;
      color: #000000;
      
  }
  .link::placeholder{
    color: #000000;
  }
  .Get_1{
      width: 314px;
      display: none;
      background-color: #1B1B1B;
      border: none;
      padding: 5px;
      font-size: 18px;
      color: #fff;
      font-weight: 600;
      padding: 12px 25px;
      margin-top: 10px;
      border-radius: 5px;
      cursor: pointer;
      outline: none;
  }
  .Get{
      width: 314px;
      display: block;
      background-color: #1B1B1B;
      border: none;
      padding: 5px;
      font-size: 18px;
      color: #fff;
      font-weight: 600;
      padding: 12px 25px;
      margin-top: 10px;
      border-radius: 5px;
      cursor: pointer;
      outline: none;
  }
  .hidden{
    display: none;
  }
  .hidden.active{
    display: block;
  }
  .video-thumbnail{
      width: 310px;
      
      background-color: #1B1B1B;
      border: none;
      padding: 2px;
      font-size: 18px;
      color: #fff;
      font-weight: 600;
     
      margin-top: 10px;
      border-radius: 5px;
      cursor: pointer;
      outline: none;
      display: flex;
  justify-content: center; /* Đặt nội dung ở giữa theo chiều ngang */
  align-items: center;
  }
  .hidden2{
    display: none;
  }
  .hidden2.active{
    display: block;
  }
  .video-thumbnail2{
    width: 310px;
    
    background-color: #1B1B1B;
    border: none;
    padding: 2px;
    font-size: 18px;
    color: #fff;
    font-weight: 600;
   
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    display: flex;
justify-content: center; /* Đặt nội dung ở giữa theo chiều ngang */
align-items: center;
}
